

/* ulrich */
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: .1rem 0;
  border-bottom: 1px solid #eee;
  background-color: rgb(7, 15, 36);
}

nav h2 {
  font-size: 1.8rem;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background: #3498db;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #3498db;
}

nav ul li a:hover::after {
  width: 100%;
}








.competences {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.competences h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.bar {
  background-color: #eee;
  border-radius: 5px;
  height: 20px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  background-color: #3b82f6;
  text-align: right;
  padding-right: 10px;
  color: white;
  line-height: 20px;
  border-radius: 5px 0 0 5px;
}

/* Remplissage personnalisé */
.bar-fill.html { width: 90%; }
.bar-fill.css { width: 80%; }
.bar-fill.js { width: 70%; }
.bar-fill.python { width: 80%; }
.bar-fill.python { width: 50%; }
#contact {
  color: white;
  padding: 30px;
  margin-top: 40px;
  text-align: left;
}
#contact h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
#contact p {
  margin: 8px 0;
  font-size: 18px;
}
/*elvira*/
#apropos{
  background-color: #f7f7f7;
  padding: 20px;
}
#apropos h2{
  font-size: 24px; 
  margin-bottom: 10px;
  text-align: center;
}
.contenu{
  margin-bottom: 20px;
}
.contenu p{
  font-size: 16px;
  margin-bottom: 20px;
}
.equipe{
  margin-bottom: 20px;
}
.equipe h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.equipe ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.equipe li {
  margin-bottom: 10px;
}
.equipe img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}
.equipe p{
  font-size: 14px;
  margin-bottom: 5px;
}